.widgetContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: calc(100% - 40px);
  width: 376px;
  min-height: 250px;
  max-height: 704px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  opacity: 1;
  border-radius: 8px;
  overflow: hidden;
  transition: width 350ms ease 0s, height ease 0s, max-height ease 0s;
}
